@import './base.css';

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  /* color: white; */
  font-family: sans-serif;
}

#app {
  /* max-width: 1080px; */
  width: 100%;
  /* align-content: center; */
  margin: 0;
  padding: 0;

  font-weight: normal;
  background-color: black;
}

.baseListItem{
  border-bottom: 1px solid #000;
  padding: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.completedListItem {
  text-decoration: line-through;
}
button {
  background-color: transparent;
  border-radius: 4px;
  padding: 4px 6px;
  margin-right: 5px;
}
.leftItemDiv {
  display: flex;
}

.rightItemDiv {
  display: flex;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
